{% extends "layout.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/problems.css') }}">
{% endblock %}
{% block content %}
<div class="problems-content">
    <h2>Your Coding Problems</h2>
    {% if problems %}
        <ul class="problem-list">
        {% for problem in problems %}
            <li class="problem-item">
                <a href="{{ problem.problem_link }}" target="_blank" class="problem-link">{{ problem.problem_link }}</a> - 
                {% if problem.solved %}
                    <span class="status solved">Solved</span>
                {% else %}
                    <span class="status not-solved">Not Solved</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No problems assigned yet.</p>
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('solve_problem') }}">Get a New Problem</a>
</div>
{% endblock %}
